<h5 class="custom-heading">Cena całkowita: {{ totalPrice() }} ZŁ</h5>
<h5 class="custom-heading">Rabat: {{ discount() }} %</h5>
<h5 class="custom-heading">Cena końcowa: {{ endPrice() }} ZŁ</h5>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="checkoutForm.controls.email" required>
            <mat-error *ngIf="checkoutForm.controls.email.invalid" class="custom-error">Niepoprawny email</mat-error>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Zatwierdź mail</button>
  
</form>

<br />

<button mat-raised-button color="primary" (click)="finalizeOrder()" [disabled]="this.givenEmail() == null || this.givenEmail() == '' || this.cartData().length<=0">Sfinalizuj zamówienie</button>
<p class="information" *ngIf="this.givenEmail() == null || this.givenEmail() == '' || this.cartData().length<=0">Należy dodać mail'a i produkty, aby móc sfinalizować zamówienie</p>